@page "/articles"

@using Events.Service;
@inject EventApp app

<h1>Newsletter</h1>

<div class="input-group mb-3">
    <input placeholder="Article Content" @bind="content" />
    <button class="btn btn-primary" @onclick="() => app.PublishArticle(content)">Publish</button>
</div>


@code{
    string content = string.Empty;
}
